<script type='text/template' id='table-component-classic'>
    <%
    var classProps  = tdPropClasses.toString().replace(","," ");
    var classValues = tdValueClasses.toString().replace(","," ");
    var props       = model.properties();
    %>
    <table class="<%= componentClass %>">
        <thead>
            <tr><% for(var prop in props) { %>
                    <% var cl = tdSpecialPropClasses.inArray(props[prop]); var clProp = classProps; %>
                    <% if(!!cl) {
                              if(cl.strict) {
                                  clProp  = cl.class.toString().replace(","," ");
                              } else {
                                  clProp += " " + cl.class.toString().replace(","," ");  
                              } 
                    }%>
                    <td class="<%= clProp %>"><%= App.Utils.capitalize(props[prop]) %></td>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% _.each(collection, function(values) { %>
            <tr>
                <% for(var prop in values.attributes) { %>
                    <% var cl = tdSpecialValueClasses.inArray(prop); var clValue = classValues; %>
                    <% if(!!cl) {
                              if(cl.strict) {
                                  clValue  = cl.class.toString().replace(","," ");
                              } else {
                                  clValue += " " + cl.class.toString().replace(","," ");  
                              } 
                    }%>
                    <td class="<%= clValue %>" <%= _.indexOf(dataAttributes, prop) > -1 ? 'data-' + prop + '=' + values.attributes[prop] : '' %>><%= App.Utils.stripTags(values.attributes[prop]) %></td>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>