/* 
    Created on : Jan 29, 2014, 12:36:01 PM
    Author     : ffernandes
*/

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 
